
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    color: var(--blanco);
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --blanco-oscuro:#f9f9f9;
    --blanco-bordes:#E1E1E1;
    --negro: #000000;
    --negro-claro:#292929;
    --azul-oscuro:#07182E;
    --MoonAndSun:#ffffff;
}
/*Variables generales*/
:root {
    --fuenteHeading: "Onest", sans-serif;
    --fuenteParrafos: "Onest", sans-serif;
    --primario:#7CEB5D;
    --gradient:#8EE84D;
    --secundario:rgb(161, 255, 20);
    --azul:#00679C;
}
body.light-theme{
    --gris: #e1e1e1;
    --blanco: #000000;
    --blanco-oscuro:#f9f9f9;
    --blanco-bordes:#E1E1E1;
    --negro: #ffff;
    --negro-claro:#292929;
    --azul-oscuro:#898989;
    --MoonAndSun:#fad500;
}
/** Globales **/
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
    color: var(--blanco);
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    border-radius: .5rem;
    max-width: 100%;
}


img,.button {
    border-radius: .5rem;
}
h1::selection,h2::selection,h4::selection,h3::selection,p::selection,strong::selection,span::selection{
    background-color: var(--primario);
    color: var(--negro-claro);
}

/** Utilidades **/
   
.contenedor{
    max-width: 80rem;
    width: min(90%, 80rem);
    margin:0 auto;
}
.centrar-texto{
    text-align: center;
}
.margin-top{
    margin-top: 2rem;
}
.margin-top-4{
    margin-top: 4rem;
}
.margin-top-8{
    margin-top: 8rem;
}

.h-100{
    height: 100%;
}

.margin-buttom{
    margin-bottom: 6rem;
}
.text-brown{
    color: var(--primario);
}
.color-primario{
    color: var(--primario);
}
/*background*/

/*Modo claro y osucuro*/
.black-background{
    position: absolute;
    top:0;
    z-index: -10;
    height: 260rem;
    width: 100%;
    background-color: rgb(3 7 18 / 1);
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%,rgba(120,119,198,0.3),rgba(255,255,255,0));
    background-repeat: no-repeat;
    background-attachment: fixed;
} 
@media (prefers-color-scheme: light) {
    .black-background{
        position: absolute;
        top:0;
        z-index: -10;
        height: 100vh;
        width: 100vw;
        background-color: rgb(249 250 251 / 1);
        background-image: radial-gradient(ellipse 80% 80% at 50% -20%,rgb(142 170 213 / 50%),rgba(255,255,255,0.9));
    }
    body{
        --gris: #e1e1e1;
        --blanco: #000000;
        --blanco-oscuro:#f9f9f9;
        --blanco-bordes:#E1E1E1;
        --negro: #ffff;
        --negro-claro:#292929;
        --azul-oscuro:#898989;
        --MoonAndSun:#fad500;
    }
    body.dark-theme{
        --gris: #e1e1e1;
        --blanco: #ffffff;
        --blanco-oscuro:#f9f9f9;
        --blanco-bordes:#E1E1E1;
        --negro: #000000;
        --negro-claro:#292929;
        --azul-oscuro:#07182E;
    }
    .black-background-dark{
        position: absolute;
        top:0;
        z-index: -10;
        height: 260rem;
        width: 100%;
        background-color: rgb(3 7 18 / 1);
        background-image: radial-gradient(ellipse 80% 80% at 50% -20%,rgba(120,119,198,0.3),rgba(255,255,255,0));
        background-repeat: no-repeat;
        background-attachment: fixed;
    } 
    /*cambiar el logo a el sol, because is a light theme*/
    .icon--sun {
        transition-delay: 200ms;
        color:var(--MoonAndSun);
      }
      
      .icon--moon {
        transform: scale(0);
      }
      
      #switch:checked ~ .icon--sun {
        transform: rotate(360deg) scale(0);
      }
      
      #switch:checked + .icon--moon {
        transition-delay: 200ms;
        transform: scale(1) rotate(360deg);
      }
}
/*white background*/
.white-background{
    position: absolute;
    top:0;
    z-index: -10;
    height: 100vh;
    width: 100vw;
    background-color: rgb(249 250 251 / 1);
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%,rgb(142 170 213 / 50%),rgba(255,255,255,0.9));
}


@media screen and (max-width:760px) {   
    .black-background{
        height: 370rem;
    }
    .white-background{
        height: 370rem;
    } 
}
@media screen and (max-width:498px) {   
    .black-background{
        height: 420rem;
    }
    .white-background{
        height: 420rem;
    }   
}

/* Estilos header */

.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    z-index: 120;
    
}
.header-nav{
    background-color: #706d6d49;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    width: 35rem;
    backdrop-filter: blur(1rem);
}
.header-nav ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}
.nav-a{
    color: var(--blanco);
    transition: all .2s ease;
    display: inline-block;
}
.nav-a:hover{
    color: var(--primario);
    transform: scale(1.02);
}
/* Toggle dark/light mode */
.cont-toggle{
    width: 2rem;
    height: 2rem;
}
.toggle {
    /* background-color: #fff; */
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 0 0 5rem 2rem rgba(0, 0, 0, .1);
    line-height: 1;
}

.input {
    display: none;
}

.icon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
}
/*empezar por la luna en dark mtheme*/
@media (prefers-color-scheme: dark) {
    .icon--moon {
        transition-delay: 200ms;
    }
    
    .icon--sun {
        transform: scale(0);
        color:var(--MoonAndSun);
    }
    
    #switch:checked + .icon--moon {
        transform: rotate(360deg) scale(0);
    }
    
    #switch:checked ~ .icon--sun {
        transition-delay: 200ms;
        transform: scale(1) rotate(360deg);
    }
}

/* Estilos para los links internos */
#proyectos, #sobre-mi, #habilidades{
    display: block;
    padding-bottom: 6.5rem;
}
/* Estilos a la presentacion */

.cont-title{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 43rem;
    gap: 1rem;
}

.cont-title p {
    max-width: 45rem;
}

.svg-animation{
    width: 100%;
    height: 75%;
}
@media screen and (max-width:770px) {
    .cont-title{
        height: 70rem;
        grid-template-columns: 1fr;
        grid-template-rows: 60% 40%;
    }
    .svg-animation{
        height: 100%;
    }
    .cont-title p {
        text-align: center;
    }
    
}
@media screen and (max-width:455px) {   
    .cont-title p {
        text-align: left;
    }
}  
/* Animacion a los brazos y cabeza */
#m1{
    animation: move-brazo1 .6s linear alternate infinite;
}
#m2{
    animation: move-brazo2 .6s linear alternate-reverse infinite;
}
#head{
    animation: move-head .9s linear alternate-reverse infinite;
}
@keyframes move-brazo1 {
    from {
        transform:translateX(.5rem)
    }
}
@keyframes move-brazo2 {
    from {
        transform:translateX(-.5rem)
    }
}
@keyframes move-head {
    from {
        transform:translateY(.5rem)
    }
}
 /* Animacion cuadros */
#Vector_14, #Vector_22,#Vector_29,#Vector_48,#Vector_43{
    animation: cuadros-1 .6s linear alternate infinite ;
}

@keyframes cuadros-1 {
    from {
        fill: var(--blanco);
    }
    to{
        fill: var(--primario);
    }
}
#Vector_10, #Vector_20,#Vector_24,#Vector_40,#Vector_46,#Vector_51,#Vector_30,#Vector_38{
    animation: cuadros-1 .5s linear alternate-reverse infinite;
}

/* Contenedor de la presentacion */
@media screen and (max-width:770px) {
    .cont-presentacion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*----Animacion del titulo - H1 -----*/
@keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }
  /* When you change the amount of characters in the h1, you have to change 
  the with: 14ch and  steps(14, end), if there is 14 characters, put 14, 
  if there is 20 put 20 */
#h2-animation {
    border-right: .1em solid var(--blanco);
    width: 13.55ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(21, end), blink-caret .6s step-end infinite alternate;
}


@media screen and (max-width:470px) {
    #h2-animation {
        font-size: 3.5rem;
    }
}


/* Socials botones */
.cont-socials-buttons{
    display: flex;
    justify-content: space-between;
    width: min(100%, 43rem);
}
/* Boton de contacto */
.button2 {
    display: inline-block;
    transition: all 0.3s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding-left: .75rem;
    cursor: pointer;
    font-size: 1.78rem;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    width: 12rem;
    height: 4rem;
}

.button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
    transform:scale(1.05);
}

.button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.9s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--primario);
    border-radius: 50%;
    display: block;
    transition: all 0.6s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:hover {
    color: var(--negro);
    border: 1px solid var(--primario);
    transition: all 0.2s ease;
    transition: border 0.25s ease;
}

.button2:hover:before {
    top: -35%;
    background-color: var(--primario);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
    top: -45%;
    background-color: var(--primario);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
  

/*Botones de Git y Linkedin*/

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 8rem;
    height: 4rem;
    background-color: #f2f2f2;
    box-shadow: 0 0 1.5rem #00000027;
    padding: 1.5rem 1rem;
    border-radius: .8rem;
}
.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border-radius: .8rem;
    background-color: #fff;
    box-shadow: 0 0 .4rem #00000027;
    transition: 0.3s;
}

.social-button:hover {
    background-color: #f2f2f2;
    box-shadow: 0 0 .6rem .3rem #00000027;
}

.social-buttons svg {
    transition: 0.3s;
    height: 2rem;
}

.github {
    background-color: #333;
    margin-right: .3rem;
}

.github svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: #f2f2f2;
}

.github:hover svg {
    fill: #333;
}

.linkedin {
    background-color: #0077b5;
}

.linkedin svg {
    fill: #f2f2f2;
}

.linkedin:hover svg {
    fill: #0077b5;
}
  
/* -- Estilos area de los proyectos -- */
.cont-main{
    margin-top: 1rem;
}
.cont-proyectos-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    place-content: center;
    
}
/* Responsive cont Grid de los proyectos */
@media screen and (max-width:760px) {   
    .cont-proyectos-grid{
        grid-template-columns: 35% 35%;
        gap:4rem;
        
    }
}
@media screen and (max-width:670px) {
    .cont-proyectos-grid{
        grid-template-columns:100%;
        width: min(55%, 20rem);
        margin-inline: auto;
    }
    .card{
        margin-bottom: 4rem;
    }
}

/* Esilos Cards */

.card {
    width: 20rem;
    height: 26.4rem;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
  }
.card img{
    position: absolute;
    z-index: 100;
    width: 95%;
    margin:.5rem;

}
.card h5{
    position: absolute;
    z-index: 100;
    top: 15rem;
    left: 4rem;
    font-size: 2rem;
    color: var(--blanco);
}
.card p{
    position: absolute;
    z-index: 100;
    top: 20rem;
    left: 2rem;
    color: var(--blanco);
    line-height: 2.2rem;
}
.card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 1rem rgba(0,0,0,0.25);
    backdrop-filter: blur(1.5rem);
    border-radius: .8rem;  
}

.card:hover {
    transform: scale(1.04) rotate(1deg);
}

.circle {
    width: 10rem;
    height: 10rem;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(3){
    top: -2.5rem;
    left: -2.5rem;
}

.circle:nth-child(2) {
    bottom: -2.5rem;
    right: -2.5rem;
    animation-name: move-down1;
}

@keyframes move-up6 {
to {
    transform: translateY(-1rem);
}
}

@keyframes move-down1 {
to {
    transform: translateY(1rem);
}
}

/* -- Estilos a Habilidades -- */

.cont-svgs {
    width: 100%;
    height: 24rem;
    background: var(--azul-oscuro) ;
    margin-top: 2rem;
    position: relative;
    display: flex;
    z-index: 100;
    place-content: center;
    place-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 2rem;
    transition: transform .2s ease;
}
.cont-svgs:hover {
    transform: rotate3d(1, 1, 0, 20deg);
    box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px, rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;    
}
.cont-svgs img{
    width: 11rem;
    margin-top: .5rem;
    transition: transform .2s ease;
}
.cont-svgs img:hover{
    transform: scale(1.05);
}
@media screen and (max-width:670px) {
    .cont-svgs {
        height: 27rem;
    }
}
@media screen and (max-width:420px) {
    .cont-svgs {
        height: 40rem;
        width: 90%;
        margin-inline: auto;
    }
}  
.cont-svgs::before {
    content: '';
    position: absolute;
    width: 10rem;
    background-image: linear-gradient(180deg, var(--primario), var(--primario));
    height: 100rem;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    z-index: -11;
}
  
@keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
}
  
.cont-svgs::after {
    content: '';
    position: absolute;
    background: var(--azul-oscuro);
    inset: 5px;
    z-index: -10;
    border-radius: 15px;
}   
/* accesibilidad para personas con problemas de mareo */

@media (prefers-reduced-motion: reduce){
    .cont-svgs::before {
        animation-duration: 8s;
    }
}
/* -- Estilos a SOBRE MI -- */

.cont-grid-sobre-mi{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-img {
    width: 190px;
    height: 254px;
    background: var(--negro);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 1px #00000088;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    padding:.2rem;
    border-radius: .8rem;
    flex-basis: auto;
}
.cont-grid-sobre-mi article{
    flex-basis: 70%;
}
@media screen and (max-width:761px) {
    .card-img {
        order: 1;
        margin-inline: auto;
    }
    .cont-grid-sobre-mi article{
        order:2;
        margin-inline: auto;
    }
}
.card-img img{
    position: relative;
    z-index: 100;
    width: 98%;
    height: 99%;
    border-radius: .8rem;
}
.card-img::before {
    opacity: 0;
    content: " ";
    position: absolute;
    display: block;
    width: 120px;
    height: 360px;
    background: linear-gradient(
    90deg,
    transparent,
    var(--primario),
    #00D881,
    #00C0A3,
    #00A7BE,
    #008BCB,
    #006EC6,
    transparent
);
    transition: opacity 300ms;
    animation: rotation_9018 3000ms infinite linear;
    animation-play-state: paused;
}

.card-img:hover::before {   
    opacity: 1;
    animation-play-state: running;
}

.card-img::after {
    position: absolute;
    content: " ";
    display: block;
    width: 190px;
    height: 254px;
    background: #17171733;
    backdrop-filter: blur(50px);
}

@keyframes rotation_9018 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*-- Footer --*/

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 30rem;
    flex-wrap: wrap;
}

.footer ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
.footer ul li,a{
    color: #9CA3AF;
}
.footer ul li a:hover{
    text-decoration: underline;
}
.footer span{
    color: #9CA3AF;
    font-weight: 200;
}

